* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}

@media (min-width: 768px) {
  .form {
    padding: 0 4rem;
  }
  .container {
    min-width: 80%;
  }
  .nav-toggle {
    display: none;
  }
  .nav {
    visibility: visible;
    display: flex;
    align-items: center;
    height: auto;
    position: relative;
  }
  .nav__list {
    display: flex;
    flex-direction: row;
    margin: 0;
  }
  .nav__items {
    margin: 0 0 0 1.5rem;
  }
  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
header {
  background-color: #f55302;
  position: sticky;
  top: 0;
  z-index: 2;
  width: 100%;
}
header .logo {
  margin-right: 1rem;
}
header .logo img {
  width: 80px;
  margin-left: 10px;
}
header .logo .nav {
  visibility: hidden;
  height: 0;
  position: absolute;
  font-size: 1.2rem;
  right: 0;
}

.inicio {
  min-height: 100vh;
  background-image: linear-gradient(rgba(89, 90, 95, 0.8), rgba(83, 86, 95, 0.8)), url(../assets/imagenes/img-22.webp);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
}
.inicio .title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.inicio .title h1 {
  color: #f55302;
  font-size: 3.5rem;
}
.inicio h2 {
  font-size: 2rem;
  color: black;
}
.inicio .texto-index {
  font-size: 1.5rem;
  color: white;
}
.inicio a {
  text-decoration: none;
}
.inicio img {
  width: 100%;
}

.productos {
  min-height: 100vh;
  background-image: linear-gradient(rgba(89, 90, 95, 0.8), rgba(83, 86, 95, 0.8)), url(../assets/imagenes/img1.webp);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
}
.productos .card {
  border-color: #f55302;
  height: 100%;
}
.productos .card img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.fabrica {
  min-height: 100vh;
  background-image: linear-gradient(rgba(89, 90, 95, 0.75), rgba(83, 86, 95, 0.75)), url(../assets/imagenes/img-11.webp);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
}
.fabrica .card {
  border-color: #f55302;
  height: 100%;
}
.fabrica .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ubicacion {
  min-height: 100vh;
  background-image: linear-gradient(rgba(89, 90, 95, 0.75), rgba(83, 86, 95, 0.75)), url(../assets/imagenes/img4.webp);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
}
.ubicacion .map-responsive {
  overflow: hidden;
  padding-bottom: 60%;
  position: relative;
  height: 0%;
}
.ubicacion .map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.flex-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.form {
  min-height: 100vh;
  background-image: linear-gradient(rgba(89, 90, 95, 0.75), rgba(83, 86, 95, 0.75)), url(../assets/imagenes/img2.webp);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
}
.form .contac-form {
  max-width: 1320px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
  background-image: linear-gradient(rgba(51, 47, 43, 0.5), rgba(51, 45, 40, 0.5));
}
.form .contac-form form button,
.form .contac-form form input,
.form .contac-form form textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  border-bottom: 1px solid #f55302;
  outline: none;
  color: #ffffff;
}
.form .button {
  background: #f55302;
  border: 0;
  padding: 1em;
}
.form .contac-form form button:hover,
.form .contac-form form button:focus {
  background: rgb(250, 173, 28);
  transition-duration: 1s;
  outline: 0;
}

footer {
  background-color: #f55302;
  color: black;
  padding-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
