* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}

@media (min-width: 768px) {
  .form {
    padding: 0 4rem;
  }

  .container {
    min-width: 80%;
  }

  .nav-toggle {
    display: none;
  }

  .nav {
    visibility: visible;
    display: flex;
    align-items: center;
    height: auto;
    position: relative;
  }

  .nav__list {
    display: flex;
    flex-direction: row;
    margin: 0;
  }

  .nav__items {
    margin: 0 0 0 1.5rem;
  }

  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
