header {
  background-color: $color-primario;
  position: sticky;
  top: 0;
  z-index: 2;
  width: 100%;

  .logo {
    margin-right: 1rem;

    img {
      width: 80px;
      margin-left: 10px;
    }

    .nav {
      visibility: hidden;
      height: 0;
      position: absolute;
      font-size: 1rem;
    }
  }
}
