.ubicacion {
  min-height: 100vh;
  background-image: linear-gradient(
      rgba(89, 90, 95, 0.75),
      rgba(83, 86, 95, 0.75)
    ),
    url(../assets/imagenes/img-revuelo-4.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;

  .map-responsive {
    overflow: hidden;
    padding-bottom: 60%;
    position: relative;
    height: 0%;
  }

  .map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
}
